body {
	background-color: black;
}

#gameScreen{
  position: absolute;
  left: 50%;
  top: 50%;
}

#world {
  position: absolute;
  right:0;
  width: 85%;
  height: 100%;
  z-index: 1;
}
#dark {
  position: absolute;
  right:0;
  width: 85%;
  height: 100%;
  z-index: 2;
}
#ui {
  position:absolute;
  left:0;
  width: 15%;
  height: 100%;
  z-index:2;
}